<h2>This is my heroes!</h2>
<ul>
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
    <span>{{ hero.id }}</span>
    <span>{{ hero.nombre }}</span>
    <button (click)="delete(hero); $event.stopPropagation()">X</button>
    <!--stopPropagation: solo una vez, no den click varias veces-->
  </li>
</ul>
<!--Si hay que aparezca-->
<div *ngIf="selectedHero">
  <h2>
    {{ selecteHero.nombre | uppercase }} Es mi heroe
  </h2>
  <button (click)="goToDetail()">Detalle</button>
</div>
<div>
  <label>Nombre del Heroe: </label>
  <input #heroName/>
  <button (click)="add(heroName.value); heroName.value=''">Agregar!</button>
</div>